.body {
    margin: 15px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #EEEEEE;
    height: 95px;
    display: flex;
}

img {
    margin: 10px;
    height: 75px;
    width: auto;
}

.textbox {
    overflow: hidden;
}

p {
    margin-right: 10px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.title {
    font-size: 18pt;
    margin: 10px 10px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blurb {
    margin-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.noImage {
    margin-left: 10px;
}