body {
    background-color: #f2f2f2;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}