<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="sideNav" style="margin: 10px">
    <div class="grid">
        <div class="row">
            <p><i class="fa-solid fa-house fa-fw"></i><span style="margin-left: 20px;">Home</span></p>
        </div>
        <div class="row">
            <p><i class="fa-solid fa-user fa-fw"></i><span style="margin-left: 20px;"></span>Profile</p>
        </div>
        <div class="row">
            <p>
                <i class="fa-solid fa-chart-line fa-fw"></i><span style="margin-left: 20px;">Trending</span>
            </p>
        </div>
        <div class="row">
            <p>
                <i class="fa-solid fa-envelope fa-fw"></i><span style="margin-left: 20px;">Messages</span>
            </p>
        </div>
        <div class="row">
            <p>
                <i class="fa-solid fa-bookmark fa-fw"></i><span style="margin-left: 20px;">Bookmarks</span>
            </p>
        </div>
        <div class="row">
            <p>
                <i class="fa-solid fa-gear fa-fw"></i><span style="margin-left: 20px;">Settings</span>
            </p>
        </div>
        <div class="row">
            <p>
                <i class="fa-solid fa-ellipsis fa-fw"></i><span style="margin-left: 20px;">More</span>
            </p>
        </div>
    </div>
</div>