<div class="page">
  <div class="flexbox">
    <div class="header">
      <h1>Consensei</h1>
    </div>

    <div class="margin-left">
      <p>User action nav</p>
    </div>

    <div class="main">
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
      <app-post style="width: 100%;"></app-post>
    </div>

    <div class="margin-right">
      <p>Suggestion nav</p>
    </div>

    <div class="footer">
      <p>Legal footer</p>
    </div>
  </div>

  <router-outlet />
</div>